/* 设置文档的外边距和内间距都为0,去除空隙 */
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 标签选择器,  标签名称 */
/* id选择器，#id名称 */
/* 找到id=main的盒子 */
#main {
    /* 自动适应屏幕百分百高度 */
    height: 100vh;
    background-image: url("../images/bg.png");
    /* 背景图片在容器中的位置: 居中显示*/
    background-position: center;
    /* 背景图片尺寸: 适应屏幕 */
    background-size: cover;
    /* 图片不重复铺 */
    background-repeat: no-repeat;
}