/* 设置文档的外边距和内间距都为0,去除空隙 */
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
/* 标签选择器,  标签名称 */
/* id选择器，#id名称 */
/* 找到id=main的盒子 */
#main {
    /* 自动适应屏幕百分百高度 */
    height: 100vh;
    background-image: url("../images/bg.jpg");
    /* 背景图片在容器中的位置: 居中显示*/
    background-position: center;
    /* 背景图片尺寸: 适应屏幕 */
    background-size: cover;
    /* 图片不重复铺 */
    background-repeat: no-repeat;
    padding-top: 5%;
    box-sizing: border-box;
}

#nav {
    /* border: 1px solid red; */
    width: 1230px;
    margin: auto;
    position: relative;
}

#items {
    position: absolute;
    right: 0px;
    width: 530px;
    /* 取消前面的点 */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* 子节点平均分配空白 */
    justify-content: space-between;
    /* background-color: blueviolet; */
}

#items a {
    /* 去除下划线 */
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    position: relative;
    background-color: rgba(38, 104, 170, 0.67);
    display: block;
    width: 80px;
    height: 80px;
    color: white;
    padding-top: 15px;
    box-sizing: border-box;
    /* 添加css变化过渡效果 */
    /* all 全部过渡；0.2 过渡时间 */
    transition: all 0.2s;
}

#items a:hover {
    background-color: white;
    color: rgb(51, 99, 160);
    margin-top: -5px;
    box-shadow: 0 0px 20px #ccc;
}

.zh1 {
    font-size: 36px !important;
}
.zh3 {
    font-size: 32px !important;
    margin-bottom:5px;
    position: relative;
    top:1px;
}
.zh2 {
    font-size: 14px;
    position: relative;
    top:1px;
}

.qrcode {
    width: 160px;
    height: 160px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-size: 138px 138px;
    left: -50%;
    top: 105px;
    display: none;
    background-position: center;
    /* background-size: cover; */
}

#items a:hover .qrcode {
    display: block;
}

#h5mobile {
    background-image: url("../images/Alipay.png");
}

#wechatService {
    background-image: url("../images/Wechat.png");
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-image: url("../images/foot_bg.png");
    background-size: 100% 100%;
    height: 27vh;
    color: white;
    text-align: center;
    padding-top: 76px;
    box-sizing: border-box;
}

#copyright {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: Arial, "微软雅黑";
}

#ysjk {
    /* font-family: sunfont; */
    font-size: 42px;
    letter-spacing: 1px;
}