html {
    overflow-x: hidden;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

body {
    font-size: 75%;
    font-family: Tahoma, Arial;
    display: block;
}

ol, ul {
    list-style: none;
}

:link, :visited, ins {
    text-decoration: none;
}

#wapper {
    width: 100%;
    height: 135px;
    position: relative;
    z-index: 20;
    background: url("../images/wrapper_bg.png") repeat-x;
}

#header {
    width: 1000px;
    height: 135px;
    margin: 0 auto;
    position: relative;
}

#product {
    width: 1000px;
    height: 30px;
    float: left;
}

#topNav {
    width: 800px;
    height: 30px;
    float: left;
}

#topNav ul li{
    float: left;
}

#topNav ul li div {
    float: left;
}

.topNavName a {
    float: left;
    height: 16px;
    font-size: 12px;
    color: #7a7a7a;
    font-family: '宋体';
    margin-top: 7px;
}

.separator {
    width: 25px;
    height: 25px;
    background: url("../images/separator.png") center 2px no-repeat;
}

#usrInfo {
    width: 200px;
    height: 30px;
    float: left;
}

#usrInfo ul li {
    float: right;
}

#usrInfo ul li div {
    float: left;
}

#usrInfo ul li div a {
    max-width: 1000px;
    float: left;
    display: block;
    font-size: 12px;
    color: #7a7a7a;
    margin-top: 7px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#logo a {
    width: 193px;
    height: 40px;
    float: left;
    margin-top: 15px;
    background: url("../images/logo.png") no-repeat;
}
